<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All checkins
    </h1>

    <a href="/checkins/new" class="btn btn-block btn-outline-secondary">
      Add a new checkin
    </a>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Description
        </th>

        <th>
          Lat
        </th>

        <th>
          Lng
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @checkins.each do |checkin| %>
      <tr>
        <td>
          <%= checkin.id %>
        </td>

        <td>
          <%= checkin.description %>
        </td>

        <td>
          <%= checkin.lat %>
        </td>

        <td>
          <%= checkin.lng %>
        </td>

        <td>
          <%= time_ago_in_words(checkin.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(checkin.updated_at) %> ago
        </td>

        <td>
          <a href="/checkins/<%= checkin.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
